@model Category
@{
    ViewData["Title"] = "UpdateCategory";
}

<h1>UpdateCategory</h1>

<div asp-validation-summary="ModelOnly"></div>
<form method="post" action="UpdateCategory">
    <input type="hidden" asp-for="CategoryID" />
    <label asp-for="CategoryName"></label>
    <input asp-for="CategoryName" />
    <button class="btn btn-warning">Update Category</button>
    <span asp-validation-for="CategoryName"></span>
</form>

@section Scripts{
    <Partial name="_ValidationScriptsPartial" />
}
