<h3 class="text-center">Orders</h3>
<table class="table table-bordered table-hover w-75 mx-auto text-center" id="myTable">
    <thead class="table-dark">
        <tr>
            <td>Order Id</td>
            <td>Customer</td>
            <td>Email</td>
            <td>Phone No.</td>
            <td>Order Total</td>
            <td>Payment Status</td>
            <td>Order Status</td>
            <td></td>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Order.js"></script>
}